behaviors:
  EnemyAgent:
    trainer_type: ppo

    hyperparameters:
      batch_size: 1024
      buffer_size: 10240
      learning_rate: 3.0e-4
      beta: 5.0e-3
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: linear

    network_settings:
      normalize: false
      hidden_units: 128
      num_layers: 2

    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0

    behavioral_cloning:
      demo_path: Assets/Demonstrations
      strength: 0.4     
      steps: 200000         
      batch_size: 1024
      num_epoch: 7          

    max_steps: 300000
    keep_checkpoints: 5
    checkpoint_interval: 10000
